.store-name {
  color: #30190c;
  font-size: 50px;
  font-family: "GloucesterMT-ExtraCondensed";
}

.navbar-button {
  background-color: #56382e;
  color: #f5f5dc;
  border: #2b211e 3px solid;
  border-radius: 22px;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: 500;
  height: auto;
  line-height: 1.5;
  display: inline-block;
}

.barber-navbar {
  background-color: #a3795b !important;
}

.nav-link {
  color: #472a28 !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  font-style: bold !important;
}
