.icons path{
    fill: #C6AB80;
}

.icons{
    width: 35px;
    height: 35px;
}

span{
    position:relative;
    bottom: 50%;
}

p{
    text-align: center;
}

ul{
    list-style-type: none;
    color:whitesmoke;
    gap: 2em;
    display:flex;
    justify-content: space-between;
}

#nuestras_redes > ul > li:nth-child(2){
    position:relative;
    left:4.5rem;
}

li:nth-child(3){
    position:relative;
    left:3.8rem;
}

li:nth-child(3)>span{
    text-decoration: underline;
    text-underline-offset: 1px;
}

li:nth-child(6)>a>span{
    text-decoration: underline;
    text-underline-offset: 1px;
    color: whitesmoke;
}

h3,p{
    color:whitesmoke;
}

#nuestras_redes>ul>li>a{
    text-decoration: none;
    
}

body{
    display:grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

footer{
    background-color: rgb(30, 30, 30);
    border-radius: 7px;
}

#contenido_principal{
    display:flex;
    flex-direction: row;
        
}
#nuestras_redes > ul{
    display:flex;
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#nuestras_redes>h3{
margin-left: 2em;
border-bottom:1px solid #C6AB80;
}

#nuestras_redes{
    margin-right: 23%;
    margin-left:12%;
    gap: 4px;
}

#nuestras_redes>h3{
    position:relative;
    left:1.8rem;
}

#ayuda>ul{
    display:flex;
    flex-direction: column;
    width:120%
}

#ayuda > h3{
    position:relative;
    left: 2.7rem;
    border-bottom: 1px solid #C6AB80;
    width:120%;
}