.edit-button {
  color: #2ab04c;
  cursor: pointer;
  margin-left: auto;
}
.edit-button:hover {
  color: #80dd97;
  cursor: pointer;
  margin-left: auto;
}

.delete-button {
  color: #b02a37;
  cursor: pointer;
  margin-left: auto;
}

.delete-button:hover {
  color: #be4551;
  cursor: pointer;
  margin-left: auto;
}

.service-container {
  background-color: #56382e !important;
  border: #2b211e 3px solid;
  color: #f5f5dc;
}

.service-item {
  background-color: #56382e !important;
  color: #f5f5dc !important;
  border: #2b211e;
  border-bottom: #2b211e solid;
  font-weight: 500;
}

.service-item:last-child {
  border-bottom: none;
}

.edit-modal-dialog {
  max-width: 400px;
  margin: 0 auto;
}

.edit-modal-content {
  background-color: #a3795b !important;
  border: 3px solid #2b211e;
  border-radius: 22px;
  padding: 15px;
  margin-bottom: 35px;
}

.edit-modal-title,
.edit-modal-label {
  color: #f5f5dc !important;
}

.edit-modal-content .form-control {
  background-color: #f5f5dc;
  color: #2b211e;
  border: 1px solid #2b211e;
}

.button-cancel {
  border: #2b211e 3px solid !important;
  background-color: #b02a37;
  color: #f5f5dc;
}

.button-cancel:hover {
  border: #2b211e 3px solid !important;
  background-color: #be4551;
  color: #f5f5dc;
}
