.edit-button {
  color: #2ab04c;
  cursor: pointer;
  margin-left: auto;
}
.edit-button:hover {
  color: #80dd97;
  cursor: pointer;
  margin-left: auto;
}

.delete-button {
  color: #b02a37;
  cursor: pointer;
  margin-left: auto;
}

.delete-button:hover {
  color: #be4551;
  cursor: pointer;
  margin-left: auto;
}

.service-container {
  background-color: #56382e !important;
  border: #2b211e 3px solid;
}

.service-item {
  background-color: #56382e !important;
  color: #f5f5dc !important;
  border: #2b211e;
  border-bottom: #2b211e solid;
  font-weight: 500;
}

.service-item:last-child {
  border-bottom: none;
}
