h1 {
  color: #472a28;
}

.nav-pills .branch {
  border: 3px solid transparent;
}

.nav-pills .branch.active {
  background-color: #56382e;
  color: #f5f5dc !important;
  border: #2b211e 3px solid;
  box-sizing: border-box;
}

.nav-pills .branch:hover {
  border: #2b211e 3px solid;
  background-color: #745348;
  color: #f5f5dc !important;
  box-sizing: border-box;
}
