:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e6d2b3;
  background-color: #e6d2b3; /*242424*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e6d2b3;
}

/*---------------------------------------------    NAV-BAR    ------------------------------------------------------*/
@font-face {
  font-family: "GloucesterMT-ExtraCondensed";
  src: url("./assets/fonts/GloucesterMT-ExtraCondensed.ttf") format("truetype");
}

.store-name {
  color: #30190c;
  font-size: 50px;
  font-family: "GloucesterMT-ExtraCondensed";
}

.navbar-button {
  background-color: #56382e;
  color: #f5f5dc;
  border: #2b211e 3px solid;
  border-radius: 22px;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: 500;
  height: auto;
  line-height: 1.5;
  display: inline-block;
}

.barber-navbar {
  background-color: #a3795b !important;
}

.nav-link {
  color: #472a28 !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  font-style: bold !important;
}
/*---------------------------------------------    CAROUSEL    ------------------------------------------------------*/
.barber-carousel {
  width: 40%;
}
