.icons path {
  fill: #c6ab80;
}

.icons {
  width: 35px;
  height: 35px;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#Ayuda {
  color: whitesmoke;

  border-bottom: 1px solid #c6ab80;
  padding-right: 5rem;
}

#Nuestras_Redes {
  color: whitesmoke;

  border-bottom: 1px solid #c6ab80;
  padding-right: 38rem;
}

ul {
  list-style-type: none;
  color: whitesmoke;
}

footer {
  background-color: rgb(30, 30, 30);
  border-radius: 1px;
}

a {
  color: whitesmoke;
}
p {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}
#instagram {
  position: relative;
  bottom: 0.3rem;
}
#mail {
  position: relative;
  bottom: 0.2rem;
}

#telefono_fijo {
  position: relative;
  bottom: 0.2rem;
}

#whatsapp {
  position: relative;
  bottom: 0.1rem;
}
#facebook {
  position: relative;
  bottom: 0.2rem;
}
#github {
  position: relative;
  bottom: 0.2rem;
}
